.foto {
    max-width: 124px;
    width: 124px;
    height: 124px;
    position: relative;
    background: linear-gradient(160deg, #1742b0, #c059ff, #801762);
    border-radius: 50%;
    align-self: center;
    margin-bottom: 10px;

    img {
        max-width: 124px;
        width: 124px;
        height: 124px;
        border-radius: 50%;
        padding: 3px;
      }
}