$theme-colors: (
  'info': tomato,
  'danger': teal
);

@import '~bootstrap/scss/bootstrap';

body{
    background-color: #282c34;
}

.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}