* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #282c34;
}

.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;

    .container{
        width: 1250px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center; 

        &.body-app > div {
            width: 100%;
            display: flex;
        }
    }
    .body-app{
        margin-top: 50px;
    }
}